---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const videoArray = [
	{
		title: 'team LATAM',
		link: 'https://www.youtube.com/watch?v=lD8eAQ4ieEw',
		placeholder: 'experiencia.png',
		text: 'Los Deportistas Latinoamaericanos que participaran en Sochi 2014.'
	},
	{
		title: 'travel meets fashion',
		link: 'https://www.youtube.com/watch?v=CDzm3UPjk8c',
		placeholder: 'experiencia.png',
		text: 'Los Deportistas Latinoamaericanos que participaran en Sochi 2014.'
	},
	{
		title: 'velocidad y riesgo',
		link: 'https://www.youtube.com/watch?v=8Zplj1KFa3U',
		placeholder: 'experiencia.png',
		text: 'Los Deportistas Latinoamaericanos que participaran en Sochi 2014.'
	},
	{
		title: 'experiencia multimedia',
		link: 'https://www.youtube.com/watch?v=eoTtVzNZuHc',
		placeholder: 'experiencia.png',
		text: 'Los Deportistas Latinoamaericanos que participaran en Sochi 2014.'
	},
]
---

<Layout
	title="Claro Sports | Sochi 2014"
	description="Juegos Olimpicos de Invierno Sochi 2014 ( Prueba Tecnica )"
>
	<main>
		<Header />
		
		<Hero/>
		
		<ul role="list" class="link-card-grid">

		</ul>

		<Footer/>
	</main>
</Layout>

