---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.astro';
---

<Layout title="Claro Sports | Sochi 2014" description='Juegos Olimpicos de Invierno Sochi 2014 ( Prueba Tecnica )'>
	<main>
		<section class="hero">
			<h1>Faltan</h1>
			<Countdown/>
		</section>
		<ul role="list" class="link-card-grid">
			
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1rem;
		color: var(--light);
	}
	.hero{
		background-image: url('../../public/imgs/background/background.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>
