---
const socialNetwoks = [
    {
        name: "mobile",
        link: "https://web.telegram.org/",
        img: "mobile.svg",
    },
    {
        name: "twitter",
        link: "https://twitter.com/",
        img: "twitter.svg",
    },
    {
        name: "facebook",
        link: "https://www.facebook.com/",
        img: "facebook.svg",
    },
    {
        name: "youtube",
        link: "https://www.youtube.com/",
        img: "youtube.svg",
    },
];
---

<footer>
    <nav class="links">
        <a href="#" target="_blank">Aviso de Privacidad</a> |
        <a href="#" target="_blank">Contacto</a>
    </nav>
    <img src="imgs/header/logo-sochi-color.png" alt="Logo Sochi" />
    <nav class="social">
        {
            socialNetwoks.map((social) => (
                <a href={social.link} target="_blank">
                    <img src={"imgs/icons/" + social.img} alt={social.name} />
                </a>
            ))
        }
    </nav>
</footer>
<style>
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 12%;
        border-top: 3px solid #353535;
        background-color: var(--dark);
    }
    footer img{
        height: 80px;
    }
    .links{
        color: var(--light);
        display: flex;
        gap: 10px;
    }
    .links a{
        color: var(--light);
        text-decoration: none;
        font-size: 1rem;
        position: relative;
        transition: opacity: .3;
    }
    .links a:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 1px;
        background-color: var(--light);
        transition: width .3s;
    }
    .links a:hover{
        opacity: .8;
    }
    .links a:hover:before{
        width: 100%;
    }
    .social{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .social a{
        width: 35px;
        height: 35px;
        text-decoration: none;
        border: 1px solid transparent;
        opacity: 1;
        border-radius: 6px;
        transition: border-color .3s, opacity .3s;
    }
    .social a:hover{
        border-color: var(--light);
        opacity: .7;
    }
    .social img{
        width: 100%;
        height: 100%;
    }
    @media (max-width: 900px) {
        .links{
            display: none;
        }
    }
    @media (max-width: 550px) {
        footer{
            flex-direction: column;
            padding: 40px 6%;
            gap: 30px;
        }
        footer img{
            height: 60px;
        }
    }
</style>