---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Importar Tipografia EXO desde Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- Titulo y Descripcion pasandolo por props -->
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--dark: #000;
		--light: #f2ecd5;
		--accent: #e92100;
		--gray: #232323;
	}
	html {
		font-family: "Exo", sans-serif;
		font-optical-sizing: auto;
		background: var(--gray);
	}

	/* Reset de estilos */
	body{
		margin: 0px;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		margin-block: 0px;
		margin-inline: 0px;
		line-height: initial;
	}
</style>
